body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(25, 21, 21);
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 10px;
    color: white;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #movieDetails {
    margin-top: 20px;
  }
  .details{
    color: white;
  }
  